<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Bienvenue</h1>
                <p class="is-size-5">
                    Ici vous pourrez suivre toutes l'actualités du football 79
                </p>
            </div>
            <div class="col-md-6 ">
                    <img class="is-size-5" src="/ressource/image/image.presentation.jpeg" alt="">
            </div>
                
            
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-96x96">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <a href="">
                                <h2>titre</h2>
                            </a>
                            <p>texte</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>