<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <a href="">
                                <h2>titre</h2>
                            </a>
                            <p>texte</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>