<section class="section">
  <div class="container is-fullhd">
    <form action="/article/post" method="POST" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Titre de l'article</label>
        <div class="control">
          <input type="text" class="input" name="title">
        </div>
      </div>
  </div>

  <div class="field">
    <label class="label">Contenu</label>
    <div class="control">
      <textarea type="text" class="textarea" name="content"></textarea>
      <script>
        CKEDITOR.replace('content');
      </script>
    </div>
  </div>
  <div class="field"> 
    <label class="label">Auteur</label>
    <div class="control">
      <input type="text" class="input" name="author"></input>
    </div>
  </div>

<div id="file-js-example" class="file has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="image">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choisir un fichier
      </span>
    </span>
    <span class="file-name">
      Aucun fichier télécharger
    </span>
  </label>
</div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Enregistrer</button>
    </div>
    <div class="control">
      <button class="button is-text">Annuler</button>
    </div>
    </form>
  </div>




</section>